@model KishanBlog.Models.Login

@{
    ViewBag.Title = "Send Password Link";
    ViewBag.Description = "This page allows user to retrive their password";
    ViewBag.Keywords = "forgot password,reset password,oracle plsql blog,oracleplsqlblog,kishan mashru,blog password";
}

<link href="~/Content/Login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@using (Html.BeginForm("SendPasswordLink", "ForgotPassword", FormMethod.Post))
{

    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <h1 class="redClr"><i class="fa fa-send"></i> Reset Password</h1>
            </div>
        </div>
        @if (ViewBag.Msg != null || ViewBag.Msg != "")
        {
            <div class="row">
                <div class="col-md-12 alert @ViewBag.status">
                    <center>@ViewBag.Msg</center>
                </div>
            </div>
        }
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12">
                <p class="note">You will get reset password link on your registered email id</p>
            </div>
        </div>
        <div class="row margBtm">
            <div class="col-md-4">
                <center>
                    @Html.TextBoxFor(model => model.Email, "", new { @class = "form-control", placeholder = "Email Id*" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "Reqclr" })
                </center>
            </div>
            <div class="col-md-3">
                <center><button type="submit" class="btn btn-default primaryBtn">Send Reset Password Link</button></center>
            </div>
        </div>
    </div>
}