@model KishanBlog.Models.Blog

@{
    ViewBag.Title = "Blog";
}

<link href="~/Content/Blog.css" rel="stylesheet" />
<div class="block">
        
    <div class="row mrgBtm">
        <div class="col-md-12">
            <div>
                <h2 class="Title">
                    First Blog!
                </h2>
                <p class="publishDetails">
                    jan 14, 2017 by <span class="author">Kishan Mashru</span>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Hello everyone,<br /><br />

                I hope the holidays went well for you, best of wishes from my family to yours!<br /><br />

                It is a new year and we all have new year resolutions! After years of creating blogs for you all, I have decided to turn it up a notch!<br /><br />

                As many of you already know, I am a certified expert and my expertise [insert plug-in to credentials] ranges from Golden Gate, Cassandra, Spark, Oracle and more. Also, I am second in the world in providing information on GoldenGate. Teaching is my passion, that’s why, after offering an extensive amount of value, I have decided to offer further advanced training for everyone. I may also be offering mentorship to further my training to you.<br /><br />

                The courses will be in depth so they can enhance your skills. It will solely be based on what you feel you need; what are you working on at the moment? What are you struggling with and/or what your single biggest question is? I will work for you all as I have in the past.<br /><br />
            </p>
        </div>
    </div>

</div>